*{
margin: 0%;
padding: 0%;
}
body{
margin: 0%;
padding: 0%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
color: white;
background-color: black;
}
main{
height: 720px;
width: 360px;
overflow: hidden;
position: relative;
}
.headerToImage{
height: 93%;
background-image: linear-gradient(white,rgb(223, 223, 223));
}
/* 
HEADER
*/
header{
height: 60px;
width: 100%;
display: flex;
align-items: center;
position:relative;
}
.profilePic{
width: 35px;
height: 35px;
background-image: url(./assets/perfil.webp);
background-position: center;
background-size: cover;
border-radius: 50%;
display: inline-block;
position: absolute;
left: 4%;
}
.logo{
display: flex;
align-items: center;
justify-content: center;
width: 100%;
}
.logoText{
letter-spacing: -1.2px;
color: rgb(235, 135, 135);
-webkit-text-stroke: 0px black;
}
.fa-fire-flame-curved{
color: rgb(235, 135, 135);
-webkit-text-stroke: 0px black;
}
/* 
========
*/
.mainImage{
width: 97%;
margin: auto;
height: calc(89% + 8px);
background-size: cover;
border-radius: 7px;
display: flex;
justify-content: flex-end;
align-items: center;
flex-direction: column;
position: relative;}
.imagemPrincipal{
display: flex;
justify-content: center;
overflow: hidden;
position: absolute;
height: 100%;
width: 100%;
}
.changeImage{
position: absolute;
height: 100%;
width: 100%;
display: flex;
}
#tinderGirl{
height: 100%;
width: 120%;
}
#left{
flex-grow: 1;
}
#right {
flex-grow: 1;
}
.information{
z-index: 1;
height: 40%;
/* height: 30%; */
/* height: 18%; */
width: 100%;
display: flex;
flex-direction: column;
}
.name{
display: flex;
-webkit-text-stroke: 1.3px black;
align-items: center;
width: 100%;
}
.name-age{
display: flex;
align-items: flex-end;
}
.name-age :first-child{
font-size: 39px;
}
.name-age :nth-child(2){
font-size: 35px;
margin-left: 12px;
}
.textContainer{
width: 100%;
display: flex;
justify-content: center;
}
.text{
width: 93%;
height: 110%;
}
.fa-badge-check{
height: 20px;
width: 20px;
}
.verified{
width: 25px;
height: 25px;
margin-left: 8px;
}
.fa-circle-info{
-webkit-text-stroke: 0px black;
width: 10x;
margin-left: 12px;
}
.online{
margin-top: 16px;
height: 10px;
display: flex;
align-items: center;
}
.fa-circle{
font-size: 10px;
color: greenyellow;
margin-right: 8px;
}
.online-text{
-webkit-text-stroke: 0.3px black;
font-weight: 400;
font-size: 1.2rem;
}
.tags-container{
margin-top: -5px;
height: 45%;
width: 100%;
display: flex;
align-items: flex-end;
}
.tags{
width: 95%;
height: 85%;
display: flex;
align-content: flex-start;
flex-wrap: wrap;
}
.tags2{
width: 95%;
margin-top: 20%;
height: fit-content;
display: none;

align-content: flex-start;
flex-wrap: wrap;
}
.tags3 {
    width: 95%;
    margin-top: 0%;
    height: fit-content;
    display: none;

    align-content: flex-start;
    flex-wrap: wrap;
}
.mora{

display: flex;
font-weight: 100;
width: 70%;
}
.mora h4{

font-weight: 600;
margin-left: 10%;

}
.fa-house{
font-size: 15px;
}
.fa-location-dot{

font-size: 20px;

}
.distancia{

display: flex;
width: 70%;
}
.distancia h4 {

    font-weight: 600;
    margin-left: 10%;

}
.tag{
background-color: rgba(60, 60, 60, 0.8);
display: inline-block;
padding: 3px 10px;
border-radius: 20px;
margin-right: 10px;
margin-top: 8px;
-webkit-text-stroke: 0.5px black;
font-size: 20px;
}
.tag2 {
    background-color: rgba(61, 61, 61, 0.8);
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 3px 10px;
    border-radius: 20px;
    margin-right: 10px;
    margin-top: 8px;
    -webkit-text-stroke: 0.5px black;
    font-size: 20px;
    
}
.tag2 h4{
font-size: 1.2rem;
margin-left: 5px;
}
.fa-paw{

font-size: 20px;

}
.tag h3{
font-size: 1.3rem;
}
.buttons{
display: flex;
align-items: center;
justify-content: space-between;
height: 60px;
width: 90%;
z-index: 1;
}
.fa-circle-xmark{
color:red ;
font-size: 50px;
}
.arrow{
display: inline-block;
border: 1px solid white;
border-radius: 50%;
height: 36px;
width: 36px;
display: flex;
justify-content: center;
align-items: center;
}
.star{
color:rgb(39, 148, 237);
border: 1px solid rgb(39, 148, 237);
padding-top: 2%;
padding-bottom: 2%;
padding-left: 3%;
padding-right: 3%;
border-radius: 50%;
}
.heart{
color: rgb(5, 255, 176);
border: 4px solid rgb(5, 255, 176) ;
box-sizing: border-box;
height: 50px;
width: 50px;
padding-top: 4px;
padding-bottom: 2px;
padding-left: 8px;
padding-right: 8px;
border-radius: 50%;
font-size: 25px;
}
.bolt{
color: rgb(215, 77, 215);
border: 1px solid rgb(215, 77, 215);
padding-top: 2%;
padding-bottom: 2%;
padding-left: 4%;
padding-right: 4%;
border-radius: 50%;
}
.footer-container{
height: 7%;
width: 100%;
display: flex;
justify-content: center;
background-color: white;
}
.footer{
height: 100%;
width:80%;
display: flex;
justify-content: space-between;
align-items: center;
position: static;
}
.second-flame{
font-size: 25px;
color: black;
}
.second-flame:hover{
color:rgb(235, 135, 135)!important;
}
#diamond:hover{
color: orange!important;
}
/* EXPLORAR */
.explorar {
width: 100%;
margin: auto;
height: 90.5%;
background-size: cover;
border-radius: 7px;
display:none;
justify-content: flex-start;
align-items: center;
flex-direction: column;
}
.explorar-header{
width: 100%;
display: flex;
flex-direction: column;
align-items: flex-start;
color: black;
-webkit-text-stroke: 0px black;
margin-left: 8px;
font-size: 1rem;
margin-bottom: 5px;
}
.explorar-header h3{
font-weight: 600;
margin-bottom: -5px;
}
.explorar-header small{
font-size: 13px;
margin-top: 8px;
}
.explorar-container{
width: 100%;
height: 1500px;
overflow-y: scroll;
}
.explorar-container::-webkit-scrollbar{
display: none;
}
/* BEM VINDO */
.vibe{
width: 100%;
height: 850px;
display: flex;
flex-wrap: wrap;
align-content: flex-start;
justify-content: space-evenly;
-webkit-text-stroke: 1px black;
}
.card{
height: 235px;
width: 47%;
margin-bottom: 20px;
border-radius: 8px;
}
.wideCard{
background-image: url(./assets/coffee.webp);
background-size: cover;
height: 28.5%;
width: 96%;
border-radius: 8px;
box-sizing: border-box;
display: flex;
justify-content: center;
position: relative;
padding-bottom: 5px;
}
.wideCard-container{
font-size: 1.25rem;
width: calc(100% - 10px);
display: flex;
align-items: flex-end;
}
.wideCard-container h1{
position: absolute;
top: 8%;
}
.entrar-agora{
width: 100%;
display: flex;
}
.entrar-agora-text{
width: 40%;
margin: 0%;
}
.entrar-agora-text h3{
font-size: 1.1rem;
}
.entrar-agora-text h4{
font-size: 16px;
margin-top: -2%;
}
.button-div{
width: 60%;
position: relative;
align-content: end;
}
.button-div button{
width: 80%;
height: 35%;
border: none;
border-radius: 15px;
position: absolute;
top: 53%;
left: 15%;
}
/* CARD1 */
#card1{
background-image: url(./assets/party.webp);
background-size: cover;
position: relative;
display: flex;
align-items: flex-end;
justify-content: center;
}
#card1 h2{
text-align: center;
position: absolute;
top: 45%;
left: 50%;
font-size: 1.8rem;
transform: translate(-50%,-50%);
}
.card1-container{
width: 94%;
margin-bottom: 5px;
}
.card1-container :first-child{
font-size: 1.1rem;
}
.card1-container h4{
margin-top: -2%;
}
/* END CARD1 */
/* CARD2 */
#card2{
display: flex;
justify-content: center;
background-image: url(./assets/heart.webp);
background-size: cover;
padding-bottom: 5px;
}
.card2-container{
position: relative;
height: 100%;
width: 94%;
display: flex;
flex-direction: column;
justify-content: flex-end;
}
.card2-container h2{
position: absolute;
top: 45%;
transform: translateY(-50%);
}
.card2-container h3{
    font-size: 1.1rem;
}
.card2-container h4{
margin-top:-2%;
}
/* END CARD2 */
/* CARD3 */
#card3{
display: flex;
justify-content: center;
background-image: url(./assets/party2.webp);
background-size: cover;
padding-bottom: 5px;
}
.card3-container{
width: 94%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: flex-end;
margin-bottom: 5px;
}
#card3 h1{
font-size: 2.1rem;
position: absolute;
top: 50%;
transform:translateY(-50%);
}
.card3-container-text {
z-index: 1;
}
.card3-container-text h4{
margin-top: -2%;
}
/* END CARD3 */
/* CARD4 */
#card4 {
display: flex;
justify-content: center;
background-image: url(./assets/friends.webp);
background-size: cover;
padding-bottom: 5px;
}
.card4-container {
width: 94%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: flex-end;
}
#card4 h1 {
font-size: 2.1rem;
position: absolute;
top: 50%;
transform: translateY(-50%);
}
.card4-container-text {
z-index: 1;
}
.card4-container-text h4 {
margin-top: -2%;
}
/* END CARD4 */
.explorar-header2{
margin-top: 10px;
}
/* END BEM VINDO */
/* PARA VOCE */
.vibe2 {
width: 100%;
height: 850px;
display: flex;
flex-wrap: wrap;
align-content: flex-start;
justify-content: space-evenly;
-webkit-text-stroke: 1px black;
}
/* CARD1-1 */
/* CARDTYPE2 */
.cardType2 {
display: flex;
justify-content: center;
padding-bottom: 5px;
}
.cardType2-container {
width: 94%;
height: 100%;
position: relative;
display: flex;
flex-direction: column;
justify-content: flex-end;
}
#cardType2 h1 {
font-size: 2.1rem;
position: absolute;
top: 50%;
transform: translateY(-50%);
}
.cardType2-container-text {
    z-index: 1;
}
.cardType2-container-text h4 {
    margin-top: -2%;
}
.pink-title {
background-image: linear-gradient(to right, rgba(252, 136, 136, 1),
rgba(245, 43, 111, 1));
text-align: center;
border-radius: 18px;
width: fit-content;
padding-left: 10px;
padding-right: 10px;
position: absolute;
left: 50%;
top: 32%;
transform: translate(-50%, 0);
}
/* END CARDTYPE2 */
.explorar-header2 {
margin-top: 10px;
}
#card1-1 {
background-image: url(./assets/vaccine.webp);
background-size: cover;
position: relative;
display: flex;
align-items: flex-end;
justify-content: center;
padding-bottom: 5px;
}
#card1-1 h2 {
text-align: center;
position: absolute;
top: 45%;
left: 50%;
font-size: 1.8rem;
transform: translate(-50%, -50%);
}
.card1-1-container {
width: 94%;
}
.card1-1-container h3{
margin-bottom: 8px;
}
.card1-1-container h4{
line-height: 20px;
}
.card1-1-container :first-child {
font-size: 1.1rem;
}
.card1-1-container h4 {
margin-top: -2%;
}
#card2-1 {
background-image: url(./assets/happyHour.webp);
background-size: cover;
}
#card3-1 {
background-image: url(./assets/serie.webp);
background-size: cover;
}
 #card4-1 {
background-image: url(./assets/games.webp);
background-size: cover;
}
#card5-1 {
background-image: url(./assets/causasSociais.webp);
background-size: cover;
}
#card6-1 {
background-image: url(./assets/criativo.webp);
background-size: cover;
}
#card7-1 {
background-image: url(./assets/comida.webp);
background-size: cover;
}
#card8-1 {
background-image: url(./assets/musica.webp);
background-size: cover;
}
#card9-1 {
background-image: url(./assets/natureza.webp);
background-size: cover;
}
#card10-1 {
background-image: url(./assets/esporte.webp);
background-size: cover;
}
#card11-1 {
background-image: url(./assets/balada.webp);
background-size: cover;
}
#card12-1 {
background-image: url(./assets/aventura.webp);
background-size: cover;
}
#card13-1 {
background-image: url(./assets/estrada.webp);
background-size: cover;
}
#card14-1 {
background-image: url(./assets/autoCuidado.webp);
background-size: cover;
}
/* END PARA VOCE */
/* CURTIDAS */
.curtidas {
width: 100%;
margin: auto;
height: 90.5%;
background-size: cover;
border-radius: 7px;
display: none;
justify-content: flex-start;
align-items: center;
flex-direction: column;
color: black;
overflow-y: scroll;
}
.curtidas::-webkit-scrollbar {
display: none;
}
.curtidas-destaques{
width: 95%;
border-bottom: 1px solid rgb(235, 234, 234);
display: flex;
}
.numero-curtidas{
display: flex;
align-content: center;
justify-content: center;    
height: 80%;
width: 50%;
font-weight: 700;
margin-bottom: 10px;
}
.destaques{
display: flex;
align-content: center;
justify-content: center;
font-weight: 700;
border-left:1px solid rgb(235, 234, 234) ;    
height: 80%;
width: 50%;
}
.onlineRecente{
display: flex;
align-items: flex-end;
position: relative;
color: white;
font-weight: 700;
}
#online2 .online-text{
font-weight: 600;
font-size: 18px;
width: 100px;
line-height: 20px;
-webkit-text-stroke: 0.7px black;
}
.card .online{
position: absolute;
left: 5%;
transform: translateY(-200%);
width: 60%;
}
.header-vibe3{
height: 14%;
display: flex;
margin-top: 20px;
align-items: center;
}
.header-vibe3 h3{
font-weight: 400;
text-align: center;
}
.girl-curtida{
width: 100%;
height: 100%;
background-size: cover;
overflow: hidden;
-webkit-filter: blur(5px);
-moz-filter: blur(5px);
-o-filter: blur(5px);
-ms-filter: blur(5px);
filter: blur(8px);
}
#card1-2 {
background-image: url(./assets/girl1.webp);
background-size: cover;
overflow: hidden;
}
#card1-2  .girl-curtida{
background-image: url(./assets/girl1.webp);
}
#card2-2 {
background-image: url(./assets/girl2.webp);
background-size: cover;
overflow: hidden;
}
#card2-2 .girl-curtida {
background-image: url(./assets/girl2.webp);
}
#card3-2 {
background-image: url(./assets/girl3.webp);
background-size: cover;
overflow: hidden;
}
#card3-2 .girl-curtida {
background-image: url(./assets/girl3.webp);
}
#card4-2 {
background-image: url(./assets/girl4.webp);
background-size: cover;
overflow: hidden;
}
#card4-2 .girl-curtida {
background-image: url(./assets/girl4.webp);
}
#card5-2 {
background-image: url(./assets/girl5.webp);
background-size: cover;
overflow: hidden;
}
#card5-2 .girl-curtida {
background-image: url(./assets/girl5.webp);
}
#card6-2 {
background-image: url(./assets/girl6.webp);
background-size: cover;
overflow: hidden;
}
#card6-2 .girl-curtida {
background-image: url(./assets/girl6.webp);
}
#card7-2 {
background-image: url(./assets/girl7.webp);
background-size: cover;
overflow: hidden;
}
#card7-2 .girl-curtida {
background-image: url(./assets/girl7.webp);
}
#card8-2 {
background-image: url(./assets/girl8.webp);
background-size: cover;
overflow: hidden;
}
#card8-2 .girl-curtida {
background-image: url(./assets/girl8.webp);
}
#card9-2 {
background-image: url(./assets/girl9.webp);
background-size: cover;
overflow: hidden;
}
#card9-2 .girl-curtida {
background-image: url(./assets/girl9.webp);
}
#card10-2 {
background-image: url(./assets/girl10.webp);
background-size: cover;
overflow: hidden;
}
#card10-2 .girl-curtida {
background-image: url(./assets/girl10.webp);
}
.quemCurtiu{
position: fixed;
z-index: 1;
background-color: rgb(178, 152, 3);
font-weight: 700;
border-radius: 18px;
padding: 5px 10px;
-webkit-text-stroke: 0.3px white;
top: 76%;
}
/* END CURTIDAS */
/* MENSAGENS */
.mensagens{
width: 100%;
margin: auto;
height: 91%;
background-size: cover;
border-radius: 7px;
display: none;
justify-content: flex-start;
align-items: center;
flex-direction: column;
color: black;
overflow-y: scroll;
}
.mensagens::-webkit-scrollbar {
display: none;
}
.buscarMatches{
margin-top: 10px;    
height: 30px;
width: 95%;
display: flex;
align-items: center;
justify-content: space-between;
}
.fa-magnifying-glass{
margin-left: 5px;
color: rgb(235, 135, 135);
}
.buscar-input{
height: 100%;
width: 91%;
border-top: none;
border-left: none;
border-right: none;
border-bottom: 1px solid rgb(235, 234, 234);
}
.buscar-input::placeholder{
font-weight: 400;
font-size: 16px;
padding-left: 10px;
}
.buscar-input:focus{
outline: none;
}
.Novos-Matches{
margin-top: 12px;
height: 25%;
width: 100%;
border: 1px solid black;
}
.Novos-Matches h4{
margin-left: 10px;
}
.chats{
margin-top: 15px;
width: 100%;
height: 100%;
padding-left: 20px;
}
.chatMensagens{
display: flex;
align-items: center;
justify-content: space-between;
height:15%;
}
.chatGirl{
background-size: cover;
border-radius: 50%;
height:70px;
width: 70px;
}
#chatGirl1{
background-image: url(./assets/chatGirl1.webp);
border-top: 1px solid rgb(235, 234, 234);
}
#chatGirl2 {
background-image: url(./assets/chatGirl2.webp);
}
#chatGirl3 {
background-image: url(./assets/chatGirl3.webp);
}
#chatGirl4 {
background-image: url(./assets/chatGirl4.webp);
}
#chatGirl5 {
background-image: url(./assets/chatGirl5.webp);
}
#chatGirl6 {
background-image: url(./assets/chatGirl6.webp);
}
#chatGirl7 {
background-image: url(./assets/chatGirl7.webp);
}
#chatGirl8 {
background-image: url(./assets/chatGirl8.webp);
}
.firstGirl{
border-top: 1px solid rgb(235, 234, 234)!important;
}
.chatGirlName{
height: 100%;
width: 78%;
border-bottom: 1px solid rgb(235, 234, 234);
display: flex;
flex-direction: column;
justify-content: center;
}
.chatGirlFirst {
height: 100%;
width: 78%;
border-top: 1px solid rgb(235, 234, 234);
border-bottom: 1px solid rgb(235, 234, 234);
display: flex;
flex-direction: column;
justify-content: center;
}
.name-verified{
display: flex;
align-items: center;
}
.name-verified .verified{
margin-left: 3px;
}
.fa-magnifying-glass{
font-size: 20px;
color: black;
}
.fa-magnifying-glass:hover{
color: rgb(235, 135, 135) !important;
}
.fa-diamond{
color: black;
font-size: 20px
}
.fa-diamond:hover{
color: rgb(235, 135, 135) !important;
}
.fa-comment{
color: black;
font-size: 20px;
}
.fa-comment:hover{
color: rgb(235, 135, 135) !important;
}
/* END MENSAGENS */
/* ======= */
@media (max-width: 500px){
main {
        height: 100%;
        width: 100%;
        border: none;
}

.quemCurtiu {
    position: fixed;
    z-index: 1;
    background-color: rgb(178, 152, 3);
    font-weight: 700;
    border-radius: 20px;
    padding: 8px 10px;
    -webkit-text-stroke: 0.3px white;
    top: 82%;
}

}